<!doctype html>
<html ng-app="compareTool">
	<head>
		<title>Compare Tool - Angular</title>

		<link rel="stylesheet" type="text/css" href="reset.css" />
		<link rel="stylesheet" type="text/css" href="compare.css" />
	</head>
	<body ng-cloak>
		<div class="wrapper">
			<h1>Compare Stocks</h1>
			<p>Compare stocks by typing their ticker into one of the input boxes below.</p>

			<div ng-controller="CompareCtrl">
				<table>
					<thead>
						<tr>
							<th></th>
							<th ng-repeat="issue in issues">
								{{issue.Name}}
								<span>{{issue.Symbol}}</span>
								<a href="javascript:;" ng-click="removeCompany(issue.Symbol)">Remove</a>
							</th>
							<th ng-repeat="issue in [] | range:numRemaining()">
								<form ng-submit="addCompany(searchSymbol)">
									<input type="text" name="searchSymbol" placeholder="Enter symbol..." ng-model="searchSymbol" ng-class="{loading: this.isLoading}" required />
									<input type="submit" value="Compare" />
								</form>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="point in dataPoints">
							<td>{{point.label}}</td>
							<!-- <td ng-repeat="issue in issues">{{issue[point.field] | varFilter:point.format}}</td> -->
							<td ng-repeat="issue in issues">{{format(issue[point.field], point.format)}}</td>
							<td ng-repeat="issue in [] | range:numRemaining()"></td>
						</tr>
					</tbody>
				</table>
				<div class="disclaimer">
					<p class="text-light">Quotes provided by http://dev.markitondemand.com/</p>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
		<script type="text/javascript" src="services.js"></script>
		<script type="text/javascript" src="filters.js"></script>
		<script type="text/javascript" src="compare.js"></script>
	</body>
</html>